<footer>
    <div class="row">
        <div class="col-xs-6">
            <ul class="ul_footer ul-footer-left">
                <li class="li_footer">&copy; CCI Connections</li>
                <li class="li_footer"><a href="/about">ABOUT</a></li>
                <li class="li_footer"><a href="/contact">CONTACT</a></li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="ul_footer ul-footer-right">
                <li class="li_footer"><a><img src="/assets/images/fb-1.png" alt="facebook" class="social-icon"></a>
                </li>
                <li class="li_footer"><a><img src="/assets/images/tw-1.png" alt="twitter" class="social-icon"></a></li>
            </ul>
        </div>
    </div>
</footer>