<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Music World</title>
		<%- include ('../partials/import.ejs') %>
	</head>
	<body>
		<!-- header starts here -->
		<%- include ('../partials/header.ejs') %>
		<!-- header end -->

		<div class="main-content">
			<!-- main content will go here -->

			<%- include ('../partials/nav.ejs') %>

			<section>
				<div class="welcome-header c-padding-bottom-20">About Us</div>
				<div class="welcome-content">
                    <p>Let the music carry us together. So, Jam out with your clam out. </p>
				    <p>We are the organisation which host live music events. We also provide the information about upcoming events, their hosts and lot more. By joining us, you can attend the live events online as well and get the change to know who all are attending the event.</p> 
				</div>
			</section>
		</div>
		<!-- page data will end here -->

		<!-- footer start -->
		<%- include ('../partials/footer.ejs') %>
		<!-- footer end -->
	</body>
</html>