<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Music World</title>
		<%- include ('../partials/import.ejs') %>
	</head>
	<body>
		<!-- header starts here -->
		<%- include ('../partials/header.ejs') %>
		<!-- header end -->

		<div class="main-content">
			<!-- main content will go here -->

			<%- include ('../partials/nav.ejs') %>

			<section>
				<div class="welcome-header c-padding-bottom-20">Contact Us</div>
				<div class="welcome-content">We would love to be in touch with you...<br><br>
                    <p>For more information email us on <a href="mailto:info@musicworld.com">info@musicworld.com</a></p> 
                    <p>Contact Us : <a href="tel:xxx-xxx-xxxx">(xxx)-xxx xxxx </a></p>
				</div>
			</section>
		</div>
		<!-- page data will end here -->

		<!-- footer start -->
		<%- include ('../partials/footer.ejs') %>
		<!-- footer end -->
	</body>
</html>