<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Music World</title>
		<%- include ('../partials/import.ejs') %>
	</head>
	<body>
		<!-- header starts here -->
		<%- include ('../partials/header.ejs') %>
		<!-- header end -->

		<div class="main-content">
			<!-- main content will go here -->

			<%- include ('../partials/nav.ejs') %>

			<section>
				<div class="welcome-header c-padding-bottom-20">Welcome to Music World...</div>
				<div class="welcome-content">Let the music carry us together. So, Jam out with your clam out. 
				<p>This is the platform is to get the inofrmation about latest upcoming live music events of great artists. So connect with the melophiles like you and make your event happening.</p> 
				<p>Check out the upcoming music events in pipeline.</p>
				<p>Now you can attend the events online...</p>
				</div>
			</section>
		</div>
		<!-- page data will end here -->

		<!-- footer start -->
		<%- include ('../partials/footer.ejs') %>
		<!-- footer end -->
	</body>
</html>